{
    "token": "", YOUR DISCORD ACCOUNT TOKEN
    "prefix": "", THE CUSTOM PREFIX YOU WANT TO USE
    "ID": "", YOUR CLIENT ID
    "color" COLOR OF YOUR EMBEDS (#ff0000 [red]) (#00ff00 [green]) (#0000ff [blue]) (#000000 [black]) (#ffffff [white])
} 